@using WebApplication.Web.Models.Account;
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

@{
    if (TempData["Status"] != null)
    {
        <h1>@TempData["Status"]</h1>

    };
}

<!DOCTYPE html>
<html lang="en">
@**@<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/93cdb99303.js"></script>
</head>
<body>


    <div>
        <a asp-area="" asp-controller="Account" asp-action="ProfileCreate"><i class="far fa-edit pull-left img-rounded"></i> Create New Profile</a>
    </div>
    <div>
        <a asp-area="" asp-controller="Account" asp-action="ProfileEdit"><i class="far fa-edit pull-left img-rounded"></i> Edit Existing Profile</a>
    </div>

    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">@Model.Username</h3>
        <img src="~/images/@Model.AvatarName" class="img-responsive img-circle margin" style="display:inline" alt="Avatar" width="250" height="250">
    <!-- merge conflict -->
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">@Model.Username's Infomania</h3>
        <p class="col-sm-4">Stuff about me: @Model.UserBio</p>
        <p class="col-sm-4">Get a hold of me: @Model.ContactPreference</p>
        <p class="col-sm-4">Level of Gaming Experience: @Model.GamingExperience</p>
        <p class="col-sm-4">Preferred Genres: </p>
        <p class="col-sm-4">Games I Play: <br />
        @foreach (Game game in Model.GameTitles)
        {
            @game.title<br />
        }
        </p>
        <p class="col-sm-4">I like other things, too: @Model.OtherInterests</p>
        <p class="col-sm-4">Private Profile: @Model.IsPrivate</p>
        <p class="col-sm-4">Location: Somewhere, PA</p>
        <p class="col-sm-4">30 Friends</p>
    </div>

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">Top 3 Games</h3><br>
        <div class="row">
            <div class="col-sm-4">
                <p>@Model.GameTitles[0].title</p>
                <img src="~/images/@Model.GameTitles[0].image" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>@Model.GameTitles[1].title</p>
                <img src="~/images/@Model.GameTitles[1].image" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>@Model.GameTitles[2].title</p>
                <img src="~/images/@Model.GameTitles[2].image" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
        </div>
    </div>

</body>
</html>

<style>
    body {
        font-family: 'Roboto', sans-serif;
        font: 20px ;
        line-height: 1.8;
        color: #0F1108;
    }

    p {
        font-size: 16px;
    }

    .margin {
        margin-bottom: 45px;
    }

    .bg-1 {
        background-color: #00F6ED; /* Turquoise */
        color: #0F1108;
    }

    .bg-2 {
        background-color: #0F1108; /* Smoky Black */
        color: #E5E5E5;
    }

    .bg-3 {
        background-color: #E5E5E5; /* Platinum */
        color: #0F1108;
    }

    .bg-4 {
        background-color: #0F1108; /* Black Gray */
        color: #E5E5E5;
    }

    .container-fluid {
        padding-top: 5%;
        padding-bottom: 5%;
    }

</style>
