@using WebApplication.Web.Models.Account;
@model ProfileViewModel
@{
    ViewData["Title"] = "Profile";
}

@{
    if (TempData["Status"] != null)
    {
        <h1>@TempData["Status"]</h1>

    };
}

<!DOCTYPE html>
<html lang="en">
@**@<head>
    <!-- Theme Made By www.w3schools.com - No Copyright -->
    <title>Bootstrap Theme Simply Me</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/93cdb99303.js"></script>
</head>

    <body>
        <div class="container-fluid bg-2 text-center">
            <a class="pull-left" asp-area="" asp-controller="Account" asp-action="ProfileEdit"><i class="far fa-edit pull-left img-rounded"></i> Edit Existing Profile</a>
            <h3>@Model.Username's Infomania</h3>
            <br /><br />
            <div class="container-fluid center-block col-sm-12">
                <div>
                    <div class="center-block col-lg-2">
                        <h3 class="margin">@Model.Username</h3>
                        <img src="~/images/@(Model.UserId % 10).jpg" class="img-responsive img-circle margin pull-right" style="display:inline" alt="Avatar" width="250" height="250">
                    </div>
                    <div class="col-sm-3 bio-sections">FYI: <br />@Model.UserBio</div>
                    <div class="col-sm-3 bio-sections">Contact: <br />@Model.ContactPreference</div>
                    <div class="col-sm-3 bio-sections">Exp. in Top Games: <br />@Model.GamingExperience</div>
                    <div class="col-sm-1 bio-sections">
                        Preferred Genres: <br />
                        @foreach (Genre genre in Model.GenreNames)
                        {
                            @genre.genre<br />
                        }
                    </div>
                </div>
            </div>

            <div class="container center-block col-sm-12">
                <div>
                    <div class="col-sm-3 bio-sections pull-right">
                        Games I Play: <br />
                        @foreach (Game game in Model.GameTitles)
                        {
                            @game.title<br />
                        }
                    </div><br />
                    <div class="col-sm-3 bio-sections">Outside Interests: <br />@Model.OtherInterests</div>
                    <div class="col-sm-3 bio-sections">Private Profile:<br /> @Model.IsPrivate</div>
                    <div class="col-sm-3 bio-sections">Location: <br />@Model.ZipCode</div>
                </div>
            </div>
        </div>

        <div class="container-fluid bg-3 text-center">
            <h3 class="margin">Top 3 Games</h3><br>
            <div class="row">
                @if (Model.GameTitles.Count != 0)
                {
                    <div class="col-md-4">
                        <p>@Model.GameTitles[0].title</p>
                        <img src="~/images/@Model.GameTitles[0].image" class="img-responsive margin" style= width: 100%; height: auto;" alt="Image">
                    </div>
                    <div class="col-md-4">
                        <p>@Model.GameTitles[1].title</p>
                        <img src="~/images/@Model.GameTitles[1].image" class="img-responsive margin" style= width: 100%; height: auto;" alt="Image">
                    </div>
                    <div class="col-md-4">
                        <p>@Model.GameTitles[2].title</p>
                        <img src="~/images/@Model.GameTitles[2].image" class="img-responsive margin" style= width: 100%; height: auto;" alt="Image">
                    </div>
                }
            </div>
        </div>

    </body>
</html>

<style>
    body {
        font-family: 'Roboto', sans-serif;
        font: 20px ;
        line-height: 1.8;
        color: #0F1108;
    }

    .bio-sections {
        font-size: 20px;
    }

    .margin {
        margin-bottom: 5%;
    }

    .bg-1 {
        background-color: #00F6ED; /* Turquoise */
        color: #0F1108;
    }

    .bg-2 {
        background-color: #0F1108; /* Smoky Black */
        color: #E5E5E5;
    }

    .bg-3 {
        background-color: #E5E5E5; /* Platinum */
        color: #0F1108;
    }

    .bg-4 {
        background-color: #0F1108; /* Black Gray */
        color: #E5E5E5;
    }

    .container-fluid {
        padding-top: 5%;
        padding-bottom: 5%;
    }

</style>
