@using WebApplication.Web.Models.Account;
@model UpdateInfoModel
@{
    ViewData["Title"] = "ChangeInfo";
}

<h2 class="h2">Update Your Account Information</h2>
<p></p>
<p></p>
<h4 class="h4">General</h4>

<form form id="" class="form-horizontal" asp-controller="account" asp-action="updateinfo" method="post">
    <div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" asp-for="Username">Username</label>
        <input asp-for="Username" value="@Model.Username" />
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" asp-for="Email">Email</label>
        <input type="email" asp-for="Email" value="@Model.Email" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" asp-for="Password">Password</label>
        <input type="password" asp-for="Password" value="@Model.Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" asp-for="ConfirmPassword">Confirm Password</label>
        <input type="password" asp-for="ConfirmPassword" value="@Model.Password" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" asp-for="Zipcode">Zip Code</label>
        <input asp-for="Zipcode" value="@Model.Zipcode" />
    </div>
    <div>
        <input type="hidden" asp-for="Salt" value="@Model.Salt" />
    </div>
    <div>
        <input type="hidden" asp-for="Role" value="@Model.Role" />
    </div>
    <div class="form-group">
        <div class="col-sm-offset-5 col-sm-10">
            <input type="submit" value="Save Changes" class="btn btn-default, button" />
        </div>

    </div>
</form>
<form asp-controller="Account" asp-action="DeleteAccount" method="post">
    <input type="hidden" asp-for="Id" value="@Model.Id"/>
    <div class="col-sm-offset-5 col-sm-10">
        <input type="submit" value="Delete Account" class="btn btn-danger"/>
    </div>
    
</form>

