@using WebApplication.Web.Models.Account;
@model ProfileViewModel
@{
    ViewData["Title"] = "GamerProfile";
}

<h2 class="visibility">GamerProfile</h2>
<div class="visibility">
    <p>
        @Model.Username
    </p>
    <p>
        @Model.AvatarName
    </p>
    <p>
        @Model.UserBio
    </p>
    <p>
        @Model.GamingExperience
    </p>
    <p>
        @Model.ContactPreference
    </p>
    <p></p>
</div>
<style>
    .visibility {
        color:deeppink
    }
</style>
